<div class="head-chat">
  <div class="head-chat-left">
    <div class="head-chat-left-name">
      <%= @room.name %>
    </div>
  </div>
  <div class="head-chat-right">
    <div class="head-chat-right-text">
      <%= link_to("チャットを終了する", room_path(@room.id), method: :delete) %>
    </div>
  </div>
</div>
<div class="middle-chat">
  <%= render partial: "message", collection: @messages %>
</div>
<%= form_with model: [@room, @message], class: "bottom-chat", local: true do |f| %>
  <div class="message-form">
    <%= f.text_field :content, placeholder: "type a message", class: "text-form" %>
    <label class="image-form">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit "送信", class: "submit-btn" %>
<% end %>
</div>